@import "tailwindcss";

body {
  @apply bg-[#E3E3E3]
  min-h-screen flex items-center justify-center p-6;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius:20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
